#examplePage{
}
.pane{
  margin:0;
  padding: 0;
}
.leftPane{
  background:#2A3F54;
  color:white;
}

.contentPane{
  background: darksalmon;
}
.docs-navbar{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
height: 60px;
vertical-align: middle;
margin: 0 auto;
background: #00bcd4;
    position: absolute;
    z-index: 20;
    width: 100%;
}

.row.content{
  margin-top:55px;
}
