<div id="examplePage" class="container-fluid exampleContainer">



  <div class="row">
    <nav class="docs-navbar">
      <a aria-label="Angular Material" md-button=""
      routerlink="/"
      href="/"
      aria-disabled="false"
      tabindex="0"
      class="mat-button">

      </a>
      <a _ngcontent-luo-199="" md-button=""
        routerlink="components" href="/components" aria-disabled="false" tabindex="0" class="mat-button">
        <span class="mat-button-wrapper">Components</span>
        <!--template bindings={}-->
        <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
      <a _ngcontent-luo-199="" md-button="" routerlink="guides" href="/guides" aria-disabled="false" tabindex="0" class="mat-button"><span class="mat-button-wrapper">Guides</span>
        <!--template bindings={}-->
        <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
    </nav>
  </div>
  <div class="row content">
    <div class="col-md-2 pane leftPane">
      <md-card title="Inline Form" baCardClass="with-scroll">
        form inline
      </md-card>
    </div>
    <div class="col-md-10 pane contentPane">
      <md-card title="Picture Uploader" baCardClass="with-scroll">

        <router-outlet></router-outlet>
      </md-card>
    </div>
  </div>
</div>

